Brotli
faiss-cpu
fonttools
fpdf
grpcio-status
langchain
langchain-cli
langchain-community
langchain-google-genai
langchain-groq
markdown2
pydyf
PyMuPDF
pyphen
sse-starlette
streamlit
tinyhtml5
xhtml2pdf
zopfli
groq
